header{
    margin: 0px;
    
    padding-top: 3px;padding-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;;
  
   background-color: white;
    font-family: 'Times New Roman', Times, serif;
}
.li{
    display: inline-block;
    cursor: pointer;
}
.li:hover{
    background-color: black;
    color: white;
}

.list{
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: row;
    gap: 9px;


}
article{
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    border: 1px solid rgb(36, 198, 220);
    padding: 5px;
    box-shadow: rgba(39, 165, 211, 0.25) 0px 54px 55px, rgba(4, 218, 234, 0.12) 0px -12px 30px, rgba(12, 164, 230, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    font-family: 'Times New Roman', Times, serif;
background-color: rgb(14, 234, 194);
    display: flex;
    border-radius:5px ;
    flex-wrap: wrap;
justify-content: space-between;
}
.skills
{
    height: 170px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(75, 71, 71);
}
.hobby
{
    height: 170px;
    width: 150px;
    background-color: white;
    border-radius: 5px;box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(75, 71, 71);
}
.studies
{
    height: 170px;
    width: 150px;
    background-color: white;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: rgb(75, 71, 71);
}
aside{
    display: flex;
    margin-left: 150px;
    margin-top:10px;
    margin-right: 150px;
    justify-content: space-around;
    padding: 10px;
    
}
footer
{
    background-color: rgb(190, 184, 184);
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
